#container{
	width:750px;
	height:800px;
	background:#eff3f7;
    border: 1px solid white;
    height: 100%;
    border-radius: 12px;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}
.chanel-container{
    display: flex;
    flex-direction: row;
    position: fixed;
}