

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora&family=Montserrat:wght@300&family=Quicksand&display=swap');



body {
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
